## 14장 연관규칙 분석

- 데이터 살펴보기

In [2]:
#1. 모듈 및 함수 불러오기
import pandas as pd

#2. 데이터 불러오기
df = pd.read_csv('Retail_data.csv', engine='python', encoding='CP949')

#3. 상위 5개 행 불러오기
df.head()

   Trans_ID Product1   Product2 Product3
0         1    Bread     Butter    Dairy
1         2   Nachos     Butter    Dairy
2         3    Juice        Jam      Egg
3         4    Juice        Jam      Egg
4         5    Juice  Vegetable    Salad

- 데이터 전처리

In [3]:
#1. 변수 선택
df = df.iloc[:,1:]

#2. 데이터 변환
df_dummy = pd.get_dummies(df)
df_dummy.head()

,Product1_Bread,Product1_Fruits,Product1_Juice,Product1_Nachos,Product2_Butter,Product2_Jam,Product2_Salsa,Product2_Vegetable,Product3_Dairy,Product3_Egg,Product3_Salad
0,1,0,0,0,1,0,0,0,1,0,0
1,0,0,0,1,1,0,0,0,1,0,0
2,0,0,1,0,0,1,0,0,0,1,0
3,0,0,1,0,0,1,0,0,0,1,0
4,0,0,1,0,0,0,0,1,0,0,1

- Apriori 모형 기반 연관 규칙 생성

In [4]:
#1. 모듈 및 함수 불러오기
from mlxtend.frequent_patterns import apriori, association_rules

#2. Apriori를 이용한 빈발항목세트 생성
frequent_items = apriori(df_dummy, min_support=0.1, use_colnames=True)
frequent_items.head()

   support           itemsets
0   0.3510   (Product1_Bread)
1   0.1825  (Product1_Fruits)
2   0.2465   (Product1_Juice)
3   0.2200  (Product1_Nachos)
4   0.2465  (Product2_Butter)

In [5]:
#1. 연관 규칙 생성
rules = association_rules(frequent_items, metric='confidence', min_threshold=0.6)

#2. 결과 출력
rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].sort_values(by='lift', ascending=False).head(10)

,antecedents,consequents,support,confidence,lift
30,"(Product1_Nachos, Product3_Egg)",(Product2_Salsa),0.1175,1.000000,5.089059
31,"(Product3_Egg, Product2_Salsa)",(Product1_Nachos),0.1175,1.000000,4.545455
20,"(Product1_Fruits, Product2_Vegetable)",(Product3_Salad),0.1705,1.000000,4.524887
5,(Product3_Salad),(Product1_Fruits),0.1825,0.825792,4.524887
6,(Product1_Fruits),(Product3_Salad),0.1825,1.000000,4.524887
23,(Product3_Salad),"(Product1_Fruits, Product2_Vegetable)",0.1705,0.771493,4.524887
24,(Product1_Fruits),"(Product3_Salad, Product2_Vegetable)",0.1705,0.934247,4.470079
19,"(Product3_Salad, Product2_Vegetable)",(Product1_Fruits),0.1705,0.815789,4.470079
14,(Product2_Vegetable),(Product3_Salad),0.2090,0.967593,4.378247
13,(Product3_Salad),(Product2_Vegetable),0.2090,0.945701,4.378247